<h2>unwatch</h2>
<div>
  <a href="/auth/github">Authorize on github...</a>
</div>
<p>
  unwatch filters your watched repositories based on last updated date.
</p>
<p>
  Currently github's interface for your watched repositories is not very user-friendly. If you are watching a lot of repositories and don't remember what the funny names are about, you have to visit the individual repository to find out.
</p>
<p>
  unwatch provides a simple interface to show the descriptions of your watched repositories and filter them based on last updated date. You can more easily unwatch an outdated repository.
</p>
Fork me on <a href="http://github.com/zhengjia/unwatch">github</a>.
