<h2>unwatch</h2>
<div>
  <a href="/auth/github">Authorize on github...</a>
</div>
<p>
  unwatch filters your watched repository based on the date of last push. 
</p>
<p>
  Currently the github interface showing your watched repository is not very user friendly. If you are watching a lot of repository and don't remember what the funny names are about, you have to visit the repository to figure out.
</p>  
<p>
  unwatch provides a simple interface to show the descriptions of your watched repositories and filter based on a given last push date, so you can more easily unwatch an outdated repository that you follow impulsively.
</p>
unwatch is built with Sinatra. Watch it on <a href="http://github.com/zhengjia/unwatch">github</a>.