<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/blue/style.css">
    <link type="text/css" rel="stylesheet" href="/css/jquery-ui/jquery-ui-1.8.13.custom.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
    <script>window.jQuery || document.write(unescape('%3Cscript src="/jquery.js"%3E%3C/script%3E'))</script>
    <script>window.jQuery || document.write(unescape('%3Cscript src="/jquery-ui.min.js"%3E%3C/script%3E'))</script>
    <script src="/jquery.tablesorter.min.js"></script>
    <script src="/unwatch.js"></script>
  </head>  
  <body>
    <div id="notice" style="width: 100%; background-color: #EAE9E4"></div>
    <div>Username: <%= @username %></div>
    <div>
      Repositories pushed before: <input type="text" id="datePicker" />
    </div>
    <div>
      <table class="tablesorter">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Owner</th>
            <th>Watchers</th>
            <th>Forks</th>
            <th>Pushed At</th>
            <th>Action</th>
          </tr>  
        </thead>  
        <tbody>  
          <%= erb :repositories %>
        </tbody>  
      </table>  
    </div>
    <a href="#" id='loadMore'>Load More</a>
  </body>
</html>  